
.product-img {
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-end;
}

.product-img img {
  width: 100%;
}

.product-price {
  font-size: 1.5em;
  font-weight: bold;
}

.product-size {
  width: 200px; 
  margin: 20px 0;
}

.custom-select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.custom-select:focus {
  border-color: #333333; 
  outline: none; 
}

.custom-select option {
  padding: 8px;
}

.product-add-btn {
  width: 100%;
  background-color: #333333;
  color: #ffffff; 
  border: none; 
  padding: 10px 20px;
  font-size: 16px; 
  cursor: pointer;
  border-radius: 4px; 
  text-align: center; 
}

.product-add-btn:hover {
  background-color: #444444; 
}

.product-des {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spinner-wrap {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}